# Servidor Web y API (Arbitraje & Remesas)
fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-jose[cryptography]
bcrypt
beautifulsoup4
python-multipart

# Dependencias del Sistema HT 0.5+
pandas
numpy
requests
streamlit
plotly
xlsxwriter
openpyxl
gspread
gspread-formatting
matplotlib
pillow
